<button class="butt" (click)="goBack()" *ngIf="isAdmin">< INDIETRO</button>

<div class="containerbis">
  <div class="container">
  <div class="images">
    <div class="image-container">
      <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile style="border-radius: 20px;" *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
          
            <img style="object-fit: cover;" [src]="tile.imgUrl" alt="Book Image">
          
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

  <div class="details">
    <h2>{{ book.name }}</h2>
    <p style="font-size: 30px; padding: 10px 0vw;">{{ book.price }} €<p>
    
    <div class="cat-cod">
      <div class="s-cat">
        <p style="color: #b0b0b0;"><strong>CATEGORIA:</strong></p>
        <p>{{ book.category }}</p>
      </div>

      <div class="s-cat">
        <p style="color: #b0b0b0;"><strong>CODICE PRODOTTO:</strong></p>
        <p>{{ book.serialcode }}</p>
      </div>
    </div>

    <p style="color: #b0b0b0;"><strong>DESCRIZIONE:</strong> </p>
    <p>{{ book.description }}</p>
    <div class="container-quantita" *ngIf="isAdmin">
      <div class="quantita" *ngIf="isAdmin"> 
        <button [disabled]="quantitySelected <= 1">
          <img (click)="decreaseQuantity()" class="iconplus" src="../../../../assets/icons/meno.ico">
        </button>
        <div class="quantity">{{ quantitySelected }}</div>
        <button>
          <img (click)="increaseQuantity()" class="iconplus" src="../../../../assets/icons/plus.ico">
        </button>
      </div>

      <button mat-raised-button color="primary" (click)="addToCart()">AGGIUNGI AL CARRELLO</button>
    </div>
  </div>
</div>

<div *ngIf="isAdmin">
<h3><strong>Prodotti correlati</strong></h3>
<div id="getallbook">
  <app-card-book
    class="book"
    *ngFor="let book of listBooks" 
    [id]="book.id"
    [title]="book.name"
    [category]="book.category"
    [price]=book.price
    [image]="book.images"
  ></app-card-book>
</div>
</div>
</div>
