/* read.component.scss */
.book-details {
  max-width: 800px;
  margin: auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-details h2 {
  margin-top: 0;
  color: #333;
}

.book-details p {
  margin-bottom: 0.5em;
  color: #555;
}

.book-details img {
  max-width: 100%;
  height: auto;
}

.image-container {
  display: flex;
  gap: 10px;
}

#related-books {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button.addToCart {
  background-color: #28a745;
}
