<h3 style="padding-left: 20px;">Modifica Profilo</h3>
<div class="details">
  <div class="distance-between">
    <span class="grey">Dati Anagrafici</span>
    <button mat-button class="save" (click)="save()">Salva</button>
  </div>

  <form [formGroup]="anagraphicForm" class="example-form" >
    <div class="example-width">
  <mat-form-field>
      <mat-label>Cognome</mat-label>
      <input matInput formControlName="surname" required >
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name" required >
</mat-form-field>

</div>

<div class="example-width">
<mat-form-field>
  <mat-label>Genere</mat-label>
    <mat-select formControlName="gender">
    <mat-option *ngFor="let gender of genders" [value]="gender.value">{{ gender.viewValue }}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Data di nascita</mat-label>
  <input matInput formControlName="date" required type="date">
</mat-form-field>
</div>

<div class="example-width">
<mat-form-field>
  <mat-label>Nazione</mat-label>
  <input matInput formControlName="nation" required >
</mat-form-field>
<mat-form-field>
  <mat-label>Provincia</mat-label>
  <input matInput formControlName="province" required >
</mat-form-field>
<mat-form-field>
  <mat-label>Città di residenza</mat-label>
  <input matInput formControlName="city" required >
</mat-form-field>
<mat-form-field>
  <mat-label>Indirizzo</mat-label>
  <input matInput formControlName="address" required >
</mat-form-field>
</div>
  </form>

<form [formGroup]="userForm" class="example-form">
<span class="grey">Informazione Accesso</span>
<div class="example-width half">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required >
  </mat-form-field>
</div>
  <div class="example-width">
       
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" required type="{{ hidePassword ? 'password' : 'text' }}">
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="confirm" required type="{{ hideConfirmPassword ? 'password' : 'text' }}">
      <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()">
        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
</form>

  <div class="distance-between">
  <div class="grey">
    <h3>Gestione Account</h3>
    <span>Puoi eliminare il tuo account</span>
  </div>
    <button mat-button class="delete" (click)="delete()">Elimina</button>
  </div>
</div>