
  <mat-card class="card">
    <div class="image-container">
    <img (click)="openRead()" mat-card-image [src]="image" alt="Descrizione dell'immagine" class="image" style="object-fit: cover;">
  </div>
    <mat-card-header>
      <mat-card-title (click)="openRead()">{{title}}</mat-card-title>
      <mat-card-subtitle>{{category}}</mat-card-subtitle>
    </mat-card-header>
    <div class="price_quantity">
      <mat-card-content>
        {{ price }} €
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="decrease()" [disabled]=button>
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{ quantitySelected }}</span>
        <button mat-icon-button (click)="increase()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </div>

  <button mat-button id="buyButton" (click)="addToCart()">Acquista</button>

</mat-card>
