
<div class="login-image">
    <img
      class="img-pointer"
    />
</div>

<div id="getall">
  <div class="campi-distance" id="ok">
    <div id="campi">
      <mat-form-field class="campo">
        <mat-label>Categoria</mat-label>
        <mat-select (selectionChange)="onCategoryChange($event)">
          <mat-option *ngFor="let cat of categories" [value]="cat">{{ cat }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="campo">
        <mat-label>Costo</mat-label>
        <mat-select (selectionChange)="onPriceChange($event)">
          <mat-option *ngFor="let pri of prices" [value]="pri">{{ pri }} €</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div class="campo" id="search">
      <mat-form-field>
        <input #searchInput matInput placeholder="Cerca" (input)="onSearchChange(searchInput.value)">
      </mat-form-field>  
    </div>
  </div>

  
    <div id="getallbook">
      <app-card-book
        class="book"
        *ngFor="let book of listBooks" 
        [id]="book.id"
        [title]="book.name"
        [category]="book.category"
        [price]=book.price
        [image]="book.images"
      ></app-card-book>
</div>

