<div class="{{ theme }}-theme">
  <div class="calc-width">
    <mat-toolbar color="accent">
      <mat-toolbar-row>
        <figure>
          <img src="./../../../../../assets/images/logo-inbook.png" />
        </figure>
        <span class="example-spacer"></span>
        <mat-icon class="cart_icon" (click)="openCart()">shopping_cart</mat-icon>
        <div class="flex-items" [matMenuTriggerFor]="menu">
          <div class="round-img-profile">
            <img [src]="image" *ngIf="image; else noImage">
            <ng-template #noImage>
              <div class="profile-avatar">
                <p>{{ (sessioneUtente.email | slice : 0 : 1 | uppercase) || "" }}</p>
              </div>
            </ng-template>
          </div>
          <span>&nbsp;</span>
          <span>{{ sessioneUtente.email || "" }}</span>
          <button mat-icon-button class="example-icon">
            <mat-icon>expand_more</mat-icon>
          </button>
          <mat-menu class="only-width account-menu" #menu="matMenu">
            <button mat-menu-item (click)="profile()">
              <mat-icon>person</mat-icon>
              {{ labelConstant.profilo }}
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              {{ labelConstant.logout }}
            </button>
          </mat-menu>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>

<router-outlet></router-outlet>
