.login-image {
    width: 100vw;
    height: 36vh;
    background-image: url("../../../../../assets/images/GetAllBook.png");
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    .img-pointer {
      cursor: pointer;
      width: 25%;
    }
}


#getall{
  margin-left: 10%;
  margin-right: 10%;
  .campi-distance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    #campi{
      padding:15px;
      .campo{
        padding-right: 5px;
      }
    }

    #search{
      padding:15px
    }
  }

  #getallbook {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

      .book {
      flex-basis: calc(25% - 10px);
      margin: 5px;
      height: 100%; /* Imposta l'altezza a 100% */
      box-sizing: border-box; /* Assicura che il padding e il bordo non influenzino la dimensione totale */
    }
  
}

.order-date{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px;
}

h3{
  padding: 15px;
}

.app-generic-table{
  margin:10px;
}


.total{
  display: flex; 
  justify-content: flex-end; 
  padding-right: 10vw;
}
