<div>
<div class="background">
<div class = "login-form-container" *ngIf="mostra">  
  REGISTRATI
  <mat-stepper [linear]="isLinear" #stepper >
    <mat-step [stepControl]="registrationUserForm" >
      <form [formGroup]="registrationUserForm" class = "login-form">
        <ng-template matStepLabel>
          <p class="title">Accesso</p></ng-template>
        CREDENZIALI DI ACCESSO
        <div class = "login-form">
        <mat-form-field id="email">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field id="usertype">
          <mat-label>Usertype</mat-label>
          <mat-select formControlName="usertype">
            <mat-option *ngFor="let usertype of usertypes" [value]="usertype">{{ usertype }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field id="password">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password" required>
        </mat-form-field>
        <mat-form-field id="password">
          <mat-label>Conferma Password</mat-label>
          <input 
          matInput 
          type="password" 
          placeholder="Conferma Password" 
          formControlName="confirm_password" 
          required>
        </mat-form-field>
      </div>
        <div class="buttons">
          <button mat-button (click)="backToLogin()" id="back">Ritorna al Login</button>
          <button [disabled]=buttonDisabled mat-button matStepperNext>Avanti</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Anagrafica">
      <form [formGroup]="secondFormGroup" class="login-form">
        <mat-form-field id="firstdiv">
          <mat-label>Cognome</mat-label>
          <input matInput formControlName="surname" placeholder=""
                 required>
        </mat-form-field>
        <mat-form-field id="firstdiv">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" placeholder=""
                 required>
        </mat-form-field>

        <mat-form-field id="firstdiv">
          <mat-label>Data di Nascita</mat-label>
          <input formControlName="date" matInput type="date">
        </mat-form-field>
        <mat-form-field id="firstdiv">
            <mat-label>Genere</mat-label>
            <mat-select formControlName="gender">
              <mat-option *ngFor="let gender of genere" [value]="gender.value">{{ gender.viewValue }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="seconddiv">
          <mat-label>Nazionalità</mat-label>
          <input matInput formControlName="nationality" placeholder=""
                 required>
        </mat-form-field>
        <mat-form-field class="seconddiv">
          <mat-label>Provincia</mat-label>
          <input matInput formControlName="province" placeholder=""
                 required>
        </mat-form-field>
        <mat-form-field class="seconddiv">
          <mat-label>Città di residenza</mat-label>
          <input matInput formControlName="city" placeholder=""
                 required>
        </mat-form-field>
        <mat-form-field class="seconddiv">
          <mat-label>Indirizzo di residenza</mat-label>
          <input matInput formControlName="address" placeholder=""
                 required>
        </mat-form-field>
        <div class="buttons">
          <button mat-button matStepperPrevious>Indietro</button>
          <button mat-button (click)="signup()">Conferma</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
</div>
</div>