
  <mat-card>
    <div  *ngIf="book != null"  class="card">
    <div class="card">
      <div>
        <img (click)="openRead()" mat-card-image [src]="image" alt="Descrizione dell'immagine" class="image">
      </div>
      <div id="title_quantity">
          <h4 class="text">{{book.name}}</h4>
          <span class="small-text">quantity: {{quantitySelected}} </span>
      </div>
      
  </div>
  <div class="price_trash">
    <span >{{book.price}} €</span>
    <mat-icon (click)="deleteFromCart()" class="small" *ngIf="cart">delete</mat-icon>
  </div>
</div>
</mat-card>
